form {
	display:block;
	width:300 px;
	margin:0 auto;
}

table {
    margin: 25px auto;
    padding: 10px;
    background-color: rgba(34,34,34,0.6);
}

form label {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-weight:800;
}

form input {
    margin: 10px auto;
    width: 200px;
    display: block;
    padding: 5px;
}