<div class="menu-nav">
  <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
  <ul class="menu-list">
    <li><a href="{{ path('index') }}">Home</a></li>
    <li><a href="{{ path('products') }}">Shop</a></li>
    <li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women <i class="fa fa-caret-down"></i></a>
      <div class="custom-menu">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-links">
              <li><a href="#">Clothing</a></li>
              <li><a href="#">Phones & Accessories</a></li>
              <li><a href="#">Jewelry & Watches</a></li>
              <li><a href="#">Bags & Shoes</a></li>
            </ul>
            <hr class="hidden-md hidden-lg">
          </div>
        </div>
      </div>
    </li>
    <li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Men <i class="fa fa-caret-down"></i></a>
      <div class="custom-menu">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-links">
              <li><a href="#">Clothing</a></li>
              <li><a href="#">Phones & Accessories</a></li>
              <li><a href="#">Jewelry & Watches</a></li>
              <li><a href="#">Bags & Shoes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  	{% if is_granted('ROLE_ADMIN') %}
  	<li><a style="background-color:#F8694A;" href="{{ path('admin') }}">Admin</a></li>
  	{% endif %}
  </ul>
</div>